* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: beige;
}

body {
  background-color: rgb(12, 12, 12);
}

.card {
  border: solid 0.1px salmon;
}

.card>img {
  background-color: salmon;
  width: 30px;
  height: 30px;
}