:root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: beige;
}

h1 {
  margin: 1rem;
}

h2 {
  color: indianred;
  font-size: 1rem;
}

body {
  background-color: rgb(12, 12, 12);
  width: 100vw;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 15%));
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
}

.card {
  height: 100%;
  border: solid 0.1px rgb(54, 54, 54);
  aspect-ratio: 1;
  background-color: beige;
  color: salmon;
  text-align: center;
}

.card>img {
  background-color: salmon;
  width: 100%;
  aspect-ratio: 1.4;
  border: 5px solid beige;
}